<div class="container">
  <div class="starter-template">
    
    <p class="lead">
            <% if current_user %>Oh hey, 
            <%= current_user.name %><p><%= image_tag(current_user.profile_url) %>
            <% else %>
            
            <% end %>
          </p>
        
  <%= image_tag('flavorful.png') %>
  <br><br>

<div class="jumbotron">
 Create your own flavor profile.* <p><p>
      
          <a class="btn btn-primary btn-lg" href="#">Request an Invite &raquo;</a>
</div>

<div class="jumbotron" >
*Flavorful's mission is to help people discover more of what they like based on everything that is unique about them. We combine algorithmic machine learning with beautifully user-curated content, with the ultimate goal of providing better, personalized recommendations for all.
</div>
  

</div>