<div class="container">
  <div class="starter-template">
    <!--
    <p class="lead">
            Ahoy, <% if current_user %><%= current_user.name %>
            <% else %>
            mate.
            <% end %>
          </p>
        -->
  <h1>95% of wine tasters <p><p>can't tell good from bad wine.</h1>
  <br><br>


  <div class="jumbotron">
          <h3>Winos</h3>
          <% @user.each do |user| %>
            <%= user.name %> | 
            <%= user.email %> 
            <%= link_to 'More', user_path(user.id) %>
            <p>
          <% end %>
        <p>
          <a class="btn btn-primary btn-lg">OK Get Me Started &raquo;</a></p>
  </div>

  

</div>