<p>

	<table cellspacing="1">
    <%= @vineyards.each do |vineyard| %>
    <tr>
    <td><% vineyard %></td>
    </tr>
    	<% end %>
</table>

http://localhost:3000/vineyards/filter?filter=searchquery
</p>